.footer {
    background: #ffffff;
    color: #000000;
    padding: 80px 60px 40px;
    margin-top: 120px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-logo {
    width: 260px;
    margin-bottom: -80px;
    margin-left: -80px;
}

.footer-brand p {
    font-size: 13px;
    opacity: 0.7;
    margin-top: 10px;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links h4 {
    color: #ca1010;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-links a {
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    opacity: 0.8;
    transition: 0.3s;
}

.footer-links a:hover {
    opacity: 1;
}

.footer-bottom {
    margin-top: 60px;
    font-size: 12px;
    opacity: 0.6;
}


@media (max-width: 768px) {
    .footer {
        padding: 60px 20px 40px;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        gap: 40px;
    }
}