.hero {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 120px;
    line-height: 0.9;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.hero-sub {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 50px;
    max-width: 400px;
}

.hero-btn {
    display: inline-block;
    width: fit-content;

    padding: 15px 40px;
    border: 1px solid white;

    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;

    transition: 0.3s ease;
}

.hero-btn:hover {
    background: white;
    color: black;
}


@media (max-width: 768px) {
    .hero-title {
        font-size: 60px;
    }

    .hero-sub {
        font-size: 16px;
    }
}