.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: visible;
}

/* huge faded watermark */
.hero-bg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90vw;
    /* responsive width */
    max-width: 1500px;
    /* keeps desktop size */
    height: auto;
    /* prevents distortion */

    opacity: 0.2;
    pointer-events: none;
}

/* centered content */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;

    animation: heroFade 1.2s ease forwards;
}

/* brand text */
.hero-title-logo {
    width: 140px;
    /* adjust visual weight */
    margin-bottom: 25px;
    animation: heroFade 1.2s ease forwards;
}

/* button */
.hero-btn {
    display: inline-block;
    padding: 14px 38px;
    border: 2px solid #9C0412;
    text-decoration: none;
    color: #9C0412;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background: #9C0412;
    color: white;
}

/* entrance animation */
@keyframes heroFade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {

    .hero{
        overflow: hidden;
    }
    .hero-title {
        font-size: 60px;
    }

    .hero-sub {
        font-size: 16px;
    }

    .hero-content{
        margin-top: -13vh;
    }

                .hero-bg-logo {
                    top: 50%;
                    transform: translate(-55%, -75%);
                    width: 110vw;
                    /* makes it bigger but still responsive */
                    opacity: 0.3;
                    /* slightly more visible on small screens */
                }
}