.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: hidden;
}

/* huge faded watermark */
.hero-bg-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    width: 1500px;
    opacity: 0.05;
    pointer-events: none;
}

/* centered content */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;

    animation: heroFade 1.2s ease forwards;
}

/* brand text */
.hero-title-logo {
    width: 140px;
    /* adjust visual weight */
    margin-bottom: 25px;
    animation: heroFade 1.2s ease forwards;
}

/* button */
.hero-btn {
    display: inline-block;
    padding: 14px 38px;
    border: 2px solid #9C0412;
    text-decoration: none;
    color: #9C0412;
    font-size: 13px;
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.hero-btn:hover {
    background: #9C0412;
    color: white;
}

/* entrance animation */
@keyframes heroFade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .hero-title {
        font-size: 60px;
    }

    .hero-sub {
        font-size: 16px;
    }
}