/* ==========================
   NAVBAR
========================== */

.navbar {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;

    background: rgba(255, 255, 255, .92);

    backdrop-filter: blur(18px);

    z-index: 999;

    transition: .35s;

}

/* ==========================
   LEFT
========================== */

.nav-left {

    flex: 1;

}

.nav-tag {

    font-size: 11px;

    letter-spacing: 4px;

    color: #9C0412;

    text-transform: uppercase;

}

/* ==========================
   LOGO
========================== */

.nav-logo-link {

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

}

.nav-logo {

    height: 120px;

    transition: .35s;

}

.nav-logo:hover {

    transform: scale(1.05);

}

/* ==========================
   RIGHT
========================== */

.nav-right {

    flex: 1;

    display: flex;

    justify-content: flex-end;

    align-items: center;

    gap: 35px;

}

.nav-link {

    font-size: 14px;

    letter-spacing: 3px;

    color: #111;

    text-transform: uppercase;

    position: relative;

}

.nav-link::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -8px;

    width: 0;

    height: 2px;

    background: #9C0412;

    transition: .35s;

}

.nav-link:hover::after {

    width: 100%;

}

.nav-cart {

    display: flex;

    align-items: center;

    gap: 8px;

    color: #111;

    font-size: 14px;

}

.cart-icon {

    width: 24px;

    transition: .3s;

}

.nav-cart:hover .cart-icon {

    transform: scale(1.1);

}

/* ==========================
   MOBILE
========================== */

@media(max-width:768px) {

    .navbar {

        height: 70px;

        padding: 0 20px;

    }

    .nav-tag {

        display: none;

    }

    .nav-logo {

        height: 78px;

    }

    .nav-right {

        gap: 18px;

    }

    .nav-link {

        font-size: 12px;

        letter-spacing: 2px;

    }

    .cart-icon {

        width: 20px;

    }

}