.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 60px;

    background: #000;
    border-bottom: 1px solid #111;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

.nav-right a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.nav-right a:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
        height: 70px;
    }

    .logo {
        font-size: 16px;
    }

    .nav-right a {
        margin-left: 20px;
        font-size: 12px;
    }
}