.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 120px 80px;
}

.product-page img {
    width: 100%;
}

.sizes button {
    margin: 5px;
    padding: 8px 14px;
    border: 1px solid #fff;
    background: transparent;
    color: white;
}

.sizes .active {
    background: #00ff88;
    color: #000;
}