.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.product-image img {
    width: 100%;
    display: block;
}

.product-info h1 {
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 18px;
    margin-bottom: 30px;
    color: #aaa;
}

.product-desc {
    margin-bottom: 40px;
    line-height: 1.6;
    max-width: 400px;
}

.size-selector {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.size-selector button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.size-selector button:hover {
    background: white;
    color: black;
}

.add-cart-btn {
    padding: 18px 50px;
    background: white;
    color: black;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-cart-btn:hover {
    opacity: 0.8;
}


.size-selector button {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.size-selector button:hover {
    background: white;
    color: black;
}

.active-size {
    background: white;
    color: black;
}

.add-cart-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}