@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


.page-wrapper {
  padding-top: 120px;
  /* space for fixed navbar */
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}


h1,
h2,
h3 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}


@media (max-width: 768px) {
  .page-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
}